/* Pagina 5- Datos de clientes y comentarios*/
  
  
  .tituloc {
    display: flex;
      height:5vh;
      color:rgb(101, 114, 52);
      align-items: center;
      flex-direction: column;
      justify-content: center;
      font-family: Georgia, "Times New Roman", Times, serif;
      font-size: calc(1.525rem + 3.3vw);
      margin: 5%;
  
  }
  .titulop {
      height: 5vh;
      color: rgb(101, 114, 52);
      align-items: center;
      flex-direction: column;
      justify-content: center;
      font-family: Georgia,"Times New Roman", Times, serif;
      margin: 5%;
      font-size: x-large;
    }
    
    .datos{
      display: flex;
      background-color:white;
      flex-direction: row;
      justify-content: space-around;
      height: 50 vh;
      margin: 5%;
      gap: 2px;
      padding-top: 40px;
      } 
  
  .redes1 {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    color: #000;
    padding: 0;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    gap: 10px;
    margin: 0;
  }
  
  /* Formulario*/
  .form {
    display: flex;
    flex-direction: column;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    padding: 20px;
    height: 400px;
    background-color: white;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .input, button {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16 px;
  }
  
  .button {
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
  }
  @media (max-width: 520px) {
    .encabezados {
      flex-direction: column;
    }
  }
  @media (max-width: 520px) {
    .datos {
      flex-direction: column;
    }
  }
  .contenedor-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    overflow: hidden;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: translateY(-3%);
  }
  
  
  .card {
    flex: 1 1 calc(25% - 20px) ;
    box-sizing: border-box;
    padding: 20px;
    background-color: #f2f2f2;
    text-align: center;
  }
  .card:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
  }
  @media (max-width: 520px) {
    .contenedor-cards{
      flex-direction: column;
    }
  }
  /* Página 4 Puntos de ventas*/
  .contac {
    display: flex;
    align-items: center;
    background-color: white;
    margin: 0;
    gap: 20px;
    padding-top: 40px;
  }
  
  .maps {
    width: 50%;
    margin: 10px;
    padding: 0;
  }
  
  div.direction {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    color: #000;
    padding: 0;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    justify-content: space-around;
    gap: 20px;
    margin: 10px;
  }
  @media (max-width: 520px) {
    .contac {
      flex-direction: column;
    }
  }
  /