.nombre-empresa {
    display: flex;
    justify-content: center;
    color: rgb(101, 114, 52);
    margin-top: 4%;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: calc(1.525rem + 3.3vw);
    flex-wrap: wrap;
  }
  
  .header {
    background-color:white;
    border: 1px solid white;
    display: flex;
    justify-content: space-around;
  }
  .cuerpo {
    padding: 10px;
  }
  
  .descripcion {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    justify-content: space-around;
  }
  
  /* Media Query para pantallas más grandes */
  @media (min-width: 768px) {
    .descripcion {
      flex-direction: row;
      justify-content: space-between;
      text-align: left;
    }
    .descripcion .img-1 {
      margin-right: 10px;
    }
    .descripcion h4 {
      font-size: 1.2rem;
    }
  }
  .image-title-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .image-title-row img {
    width: 100px; /* Tamaño pequeño para la imagen */
    height: auto;
    margin-right: 20px; /* Espacio entre la imagen y el texto */
  }
  
  .title-group {
    display: flex;
    flex-direction: row;
    gap: 10px; /* Espacio entre los textos */
  }
  
  .title-group p {
    margin: 0;
  }
  