/*Barra de navegación,*/
.container-fluid {
    background-color: white;
  }
  
  .navbar {
    display: flex;
    width: 100%;
  }
  
  .navbar ul {
    display: flex;
    list-style-type: none;
  }
  
  .navbar ul li {
    margin: 5px;
    margin-top: auto;
  }
  
  .navbar ul li a {
    color: white;
    text-decoration: none;
  }
  
  /*Animación del navbar*/
  .navbar ul li a:hover {
    font-size: 18px;
    transition: 0, 4s;
    background-color:rgb(141, 243, 209);
  }
  