$temporada: "verano";

.cambio {
    width: 100%; 
    height: auto; 
    object-fit: cover; 
    display: block;
    margin: 5%; 

    @if $temporada == "primavera" {
        background-image: url("./multimedia/imagenbaner2.jpg");
    }
    @else if $temporada == "verano" {
        background-image: url("./multimedia/verano2025.gif");
    }
}
//anidación 
.navbar {
    display: flex;
    width: 100%;
  
    ul {
      display: flex;
      list-style-type: none;
  
      li {
        margin: 5px;
        margin-top: auto;
  
        a {
          color: white;
          text-decoration: none;
  
          &:hover {
            font-size: 18px;
            transition: 0.4s;
            background-color: rgb(120, 236, 149);
          }
        }
      }
    }
  }

  