
//anidación 
.navbar {
    display: flex;
    width: 100%;
  
    ul {
      display: flex;
      list-style-type: none;
  
      li {
        margin: 5px;
        margin-top: auto;
  
        a {
          color: white;
          text-decoration: none;
  
          &:hover {
            font-size: 18px;
            transition: 0.4s;
            background-color: rgb(120, 236, 149);
          }
        }
      }
    }
  }

  
  @mixin hover-effect {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
  }  
  
  
